html
    head
        title #{title}
        link(rel="stylesheet" href="assets/style.css")
        link(rel="stylesheet" href="assets/prism.css")
        script(src="assets/prism.js")
    body
        include components/Header
        main
            include components/Aside
            main
                section.main-article
                    article !{content}
                    div.prev_next
                        a(class="prev button" href="#{prevUrl}") «&nbsp;&nbsp;!{prevTitle}
                        a(class="next button" href="#{nextUrl}") !{nextTitle}&nbsp;&nbsp;»